<h1>Subreddits#index</h1>
<p>Find me in app/views/subreddits/index.html.erb</p>
<div class="container">
    <% @subreddits.each do |s| %>
    <div class="row">
        <div class="postTitle col-sm-3">
            <%= s.name %>
        </div>
        <div class="postBody col-sm-9">
            <%= s.description %>
        </div>
    </div>
    <% end %>
</div>
