
<%= form_for(@subreddit) do |s| %>
<h4>Subreddits</h4>
<div class="form-group">
    <%= s.text_field :name, class:"form-control" %>
    <hr>
    <%= s.text_area :description, class:"form-control" %>
</div>
<div class="text-xs-right">
    <%= submit_tag "Submit", class: 'btn btn-default' %>
</div>
<% end %>
